.testimonials{
    width: 100%;
    overflow-x: scroll;
    padding: 30px;
    padding-top: 80px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.testimony{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    display: inline-block;
}