.testimony {
    position: relative;
    overflow: hidden;
    width: 100%; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
  }
  
  .content, .hidden-content {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
  }
  
  .hidden-content {
    position: absolute;
    top: 0;
    left: 100%;
    
  }
  
  .content.slide-out {
    transform: translateX(-100%);
  }
  
  
  .hidden-content.slide-in {
    left: 0;
  }
  